html {
	position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
	font-weight: normal;
	scroll-behavior: smooth;
}

body {
    background-color: white;
	font-family: Poppins Regular!important;
	color: black!important;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

/* UTILITARIES */
.bg-color {
	background: rgb(36, 36, 36);
}

.box-shadow {
	box-shadow: 0 0 5px aquamarine;
}

.color-aquamarine {
	color: aquamarine;
}

/* CONTEUDO */
.conteudo {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

/* INICIO */
.inicio {
	width: 100%;
	height: 100%;
	background: url(../img/background.png) center center no-repeat fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* LOGO */
.logo img {
	width: 70%;
	margin: 2% 0;
}

.logo p {
	color:white;
	font-size: 115%;
	margin: 0;
}

/* SOBRE */
.sobre-first {
	padding-bottom: 0;
}

.sobre a {
	text-decoration: none;
	color: white;
	margin: 0 4%;
}

.sobre i {
	font-size: 40px;
}

.sobre-imagem {
	padding: 2.5% 0!important;
}

.sobre-imagem img {
	width: 100%;
	border-radius: 1.5%;
	box-shadow: 0 0 5px grey;
}

.sobre-second {
	color: whitesmoke;
}

.sobre-second h1 {
	font-size: 150%;
	margin-bottom: 3%;
	color: aquamarine;
}

.sobre-second p {
	font-size: 100%;
	margin: 4.5% 0;
}

/* LINGUAGENS */
.linguagem-second h1, .linguagem-first h1 {
	color: aquamarine;
}

.linguagem-second, .linguagem-first {
	padding: 0 4%;
}

.linguagem-second a, .linguagem-first a {
	color: aquamarine;
}

.linguagem-second p, .linguagem-first p {
	margin: 4% 0;
	color: white;
}

.linguagem-first img {
	width: 80%;
	padding: 4% 0;
}

.linguagem-second img {
	width: 70%;
	margin: 2% 0;
}

.linguagem-second img:last-child {
	margin-bottom: 0;
}

/* SITES */
.sites h1 {
	font-size: 200%;
	margin: 3% 0;
	color: aquamarine;
}

.sites-content img {
	width: 80%;
}

.sites-content h1, .sites-content a, .sites-content p {
	color: white;
	border: none;
}

/* FOOTER */
.footer {
	width: 100%;
	background: url(../img/background.png) center center no-repeat fixed;
}

.footer h1 {
	margin: 2% 0;
	color: aquamarine;
	font-size: 110%;
}

@media screen and (min-width: 500px) {
	.logo img {
		margin: 0;
		width: 60%;
	}

	.logo p {
		font-size: 120%;
	}

	.sobre-imagem img {
		width: 80%;
	}

	.linguagem-first img, .linguagem-second img {
		width: 60%;
	}
}

@media screen and (min-width: 900px) {
	.logo img {
		width: 30%;
	}

	.sobre-first, .linguagem-second {
		width: 50%;
		float: left;
	}

	.sobre-second, .linguagem-first {
		width: 50%;
		float: right;
	}

	.linguagem-first img {
		width: 50%;
	}

	.linguagem-second img {
		width: 40%;
		margin: 2%;
	}

	.sites {
		padding: 2% 3%;
	}

	.sites h1 {
		margin: 1% 0;
	}

	.sites-content {
		float: left;
		width: 30%;
		padding: 2%;
	}

	.telegram-logo {
		width: 50%!important;
	}

	.sites-content img {
		width: 40%!important;
	}

	.sites-content h1 {
		margin: 0;
	}

	.footer {
		padding: 0;
	}

	.footer h1 {
		margin: 1% 0;
	}

}
